#!/usr/bin/make -f

#export DH_VERBOSE=1

export DH_OPTIONS

export DH_GOPKG := github.com/strukturag/sloth
TMPGOPATH = $(CURDIR)/debian/tmp/usr/share/gocode

PKD   = $(abspath $(dir $(MAKEFILE_LIST)))
PKG   = $(word 2,$(shell dpkg-parsechangelog -l$(PKD)/changelog | grep ^Source))
UVER  = $(shell dpkg-parsechangelog -l$(PKD)/changelog | perl -ne 'print $$1 if m{^Version:\s+(?:\d+:)?(\d.*)(?:\-\d+.*)};')
DTYPE = 
VER  ?= $(subst $(DTYPE),,$(UVER))

## Based on http://wiki.debian.org/onlyjob/get-orig-source
get-orig-source: $(PKG)_$(VER)$(DTYPE).orig.tar.xz $(info I: $(PKG)_$(VER)$(DTYPE))
		@

$(PKG)_$(VER)$(DTYPE).orig.tar.xz:
		@echo "# Downloading..."
		uscan --noconf --verbose --rename --destdir=$(CURDIR) --check-dirname-level=0 --force-download --download-version $(VER) $(PKD)
		$(if $(wildcard $(PKG)-$(VER)),$(error $(PKG)-$(VER) exist, aborting..))
		@echo "# Extracting..."
		mkdir $(PKG)-$(VER) \
		&& tar -xf $(PKG)_$(VER).orig.tar.* --directory $(PKG)-$(VER) --strip-components 1 \
		|| $(RM) -r $(PKG)-$(VER)
		$(RM) -v $(PKG)_$(VER).orig.tar.*
		@echo "# Cleaning-up..."
		cd $(PKG)-$(VER) && $(RM) -r -v debian
		@echo "# Packing..."
		find -L "$(PKG)-$(VER)" -xdev -type f -print | sort \
		| XZ_OPT="-6v" tar -caf "$(PKG)_$(VER)$(DTYPE).orig.tar.xz" -T- --owner=root --group=root --mode=a+rX \
		&& $(RM) -r "$(PKG)-$(VER)"

override_dh_auto_install:
		mkdir -p ${TMPGOPATH}/src/${DH_GOPKG}
# Copy all .go files to /usr/share/gocode (we compile and ship).
		find . -path ./debian -prune -o -type f -name "*.go" -exec tar cf - {} + | (cd "${TMPGOPATH}/src/${DH_GOPKG}" && tar xvf -)

%:
		dh $@ --buildsystem=golang --with=golang

.PHONY: get-orig-source
